/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

form .field_with_errors {
  display: inline;
}

$logo_colors: ("red": Tomato, "green": LimeGreen, "blue": CornflowerBlue);

@each $color_name, $color in $logo_colors {
  a.header-#{$color_name} {
    color: $color;
  }
}

a[class|="header"] {
  text-decoration: none;
}

.chat-window {
	ul {
		overflow: auto;
		max-height: 300px;
	}
}

.home_header {
	text-align: center;
}

.progress_well {
	background-color: AntiqueWhite;
}

.action_well {
	background-color: AliceBlue;
}

.chat_well {
	background-color: Snow;
}